<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">首页</a></li>
    <li><a ng-href="#">关于</a></li>
    <li><a ng-href="#">联系</a></li>
  </ul>
  <h3 class="text-muted">宜居柏林</h3>
</div>

<div class="jumbotron">
  <h1>社区小助手!</h1>
  <p class="lead">
    <img src="images/ic_launcher.png" alt="I'm Yeoman"><br>
    永远是你的好朋友
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="downloads/yiju_bolin_v1.0.apk">下载安卓应用</a></p>
</div>

<div class="row marketing">
  <h4>应用简介</h4>
  <p>
    宜居柏林是一个为柏林爱乐社区居民提供便民信息服务的一个小应用，通过该应用可以很方便的找到社区周边的餐饮等生活服务商家！该应用的主要数据来源于大众点评；
  </p>

  <h4>功能介绍</h4>
  <p>
    分类查询、商家地图、收藏商家
  </p>

  <h4>目标人群</h4>
  <p>社区居民</p>

  <h4>商业服务</h4>
  <p>社区周边商家如果对我们的应用感兴趣，可以联系我们做定制开发！</p>

  <h4>联系方式</h4>
  <p>QQ:626528719</p>
</div>

<div class="footer">
  <p>♥ 来自远博畅想团队，真诚奉献！</p>
</div>
